$colors:(
    negro-100: #1C2530,
    negro-200: #303841,
    negro-300: #111D2A,
    negro-400: #000000,
    blanco-50: #FFFFFF,
    blanco-100: #F0F0F0,
    amarillo-oscuro-100: #FFCE66,
    amarillo-oscuro-200: #FBBF42,
    amarillo-oscuro-400: #FFCE66,

)